/*******************************************************************
 *                          GENERALITIES                           *
 *******************************************************************/
body {
    line-height: 1.5;
}
article {
    text-align: justify;
}
/* *****************************************************************
MAIN LAYOUT
***************************************************************** */
.container {
    width: 960px;
    margin : auto;
}
/* *****************************************************************
IMAGES / FLOAT
***************************************************************** */
.img-left {
    float: left;
    margin-right: 1em;
}
.img-right {
    float: right;
    margin-left: 1em;
}
.clear {
    clear: both;
}
               